<div class="pos-rlt">
  <div class="page-bg" data-stellar-ratio="2" style="background-image: url('images/b0.jpg');"></div>
</div>
<div class="page-content">
  <div class="padding b-b">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
          <div class="item w r">
            <div class="item-media">
              <div class="item-media-content" style="background-image: url('images/b0.jpg');"></div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-l-md no-padding-xs">
            <div class="page-title">
              <h1 class="inline">Simple Place To Be</h1>
            </div>
            <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quamquam tu hanc copiosiorem etiam soles dicere. Nihil illinc huc pervenit. Verum hoc idem saepe faciamus. Quid ad utilitatem tantae pecuniae? Utram tandem linguam nescio? Sed hoc sane concedamus.</p>
            <div class="item-action m-b">
              <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
              <button class="btn-playpause text-primary m-r-sm"></button> 
              <span class="text-muted">2356</span>
              <a class="btn btn-icon rounded btn-favorite"><i class="fa fa-heart-o"></i></a> 
              <span class="text-muted">232</span>
              <div class="inline dropdown m-l-xs">
                <a class="btn btn-icon rounded btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                <div class="dropdown-menu pull-right black lt"></div>
              </div>
            </div>
            <div class="item-meta">
              <a class="btn btn-xs rounded white">Pop</a> <a class="btn btn-xs rounded white">Happy</a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">

          <h6 class="m-b">
            <span class="text-muted">by</span> 
            <a href="artist.detail.html" data-pjax class="item-author _600">Rachel Platten</a> 
            <span class="text-muted text-sm">- 10 song, 50 min 32 sec</span>
          </h6>
          <div id="tracks" class="row item-list item-list-xs item-list-li m-b">
            {{>items col="col-xs-12" count="10" author="false" meta="true" meta-misc="true"}}
          </div>
          <h5 class="m-b">From Rachel</h5>
          <div class="row m-b">
            {{>items col="col-xs-6 col-sm-6 col-md-3" count="4" author="false" meta="true" meta-stats="true"}}
          </div>
          <h5 class="m-b">Comments</h5>
          <div class="streamline m-b m-l">
                  <div class="sl-item">
                    <div class="sl-left">
                      <img src="images/a0.jpg" alt="." class="img-circle">
                    </div>
                    <div class="sl-content">
                      
                      <div class="sl-author m-b-0">
                        <a href="#">Peter Joo</a>
                        <span class="sl-date text-muted">2 minutes ago</span>
                      </div>
                      <div>
                        <p>Check your Internet connection</p>
                      </div>
                      <div class="sl-footer">
                        <a href="#" data-toggle="collapse" data-target="#reply-1">
                          <i class="fa fa-fw fa-mail-reply text-muted"></i> Reply
                        </a>
                      </div>
                      <div class="box collapse m-a-0 b-a" id="reply-1">
                        <form>
                          <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                        </form>
                        <div class="box-footer clearfix">
                          <button class="btn btn-info pull-right btn-sm">Post</button>
                          <ul class="nav nav-pills nav-sm">
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-camera text-muted"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sl-item">
                    <div class="sl-left">
                      <img src="images/a2.jpg" alt="." class="img-circle">
                    </div>
                    <div class="sl-content">
                      <div class="sl-author m-b-0">
                        <a href="#">Moke</a>
                        <span class="sl-date text-muted">8:30</span>
                      </div>
                      <div>
                        <p>Call to customer <a href="#" class="text-primary">Jacob</a> and discuss the detail.</p>
                      </div>
                    </div>
                  </div>
                  <div class="sl-item">
                    <div class="sl-left">
                      <img src="images/a3.jpg" alt="." class="img-circle">
                    </div>
                    <div class="sl-content">
                      <div class="sl-author m-b-0">
                        <a href="#">Moke</a>
                        <span class="sl-date text-muted">Sat, 5 Mar</span>
                      </div>
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe aiea ose dos soois.</p>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                      </blockquote>

                    <div class="sl-item">
                      <div class="sl-left">
                        <img src="images/a2.jpg" alt="." class="img-circle">
                      </div>
                      <div class="sl-content">
                        <div class="sl-date text-muted">Sun, 11 Feb</div>
                        <p><a href="#" class="text-primary">Jessi</a> assign you a task <a href="#" class="text-primary">Mockup Design</a>.</p>
                      </div>
                    </div>
                    <div class="sl-item">
                      <div class="sl-left">
                        <img src="images/a5.jpg" alt="." class="img-circle">
                      </div>
                      <div class="sl-content">
                        <div class="sl-date text-muted">Thu, 17 Jan</div>
                        <p>Follow up to close deal</p>
                      </div>
                    </div>

                    </div>
                  </div>
          </div>
          <h5 class="m-t-lg m-b">Leave a comment</h5>
          <form>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Your name</label>
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col-sm-6">
                <label >Email</label>
                <input type="email" class="form-control" placeholder="Enter email">
              </div>
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm white rounded">Submit comment</button>
            </div>
          </form>

      </div>
    </div>
    {{>sidebar}}
  </div>
</div>
