<div class="dropdown-menu w dropdown-menu-scale {{class}}">
  <a class="dropdown-item" href="profile.html#profile">
    <span>Profile</span>
  </a>
  <a class="dropdown-item" href="profile.html#tracks">
    <span>Tracks</span>
  </a>
  <a class="dropdown-item" href="profile.html#playlists">
    <span>Playlists</span>
  </a>
  <a class="dropdown-item" href="profile.html#likes">
    <span>Likes</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="docs.html">
    Need help?
  </a>
  <a class="dropdown-item" href="signin.html">Sign out</a>
</div>
