
<ul class="nav" data-ui-nav>
  <li class="nav-header hidden-folded">
    <span class="text-xs text-muted">Main</span>
  </li>
  <li>
    <a href="player.html">
      <span class="nav-icon">
        <i class="material-icons">
          play_circle_outline
        </i>
      </span>
      <span class="nav-text">Discover</span>
    </a>
  </li>
  <li>
    <a href="browse.html">
      <span class="nav-icon">
        <i class="material-icons">
          sort
        </i>
      </span>
      <span class="nav-text">Browse</span>
    </a>
  </li>
  <li>
    <a href="chart.html">
      <span class="nav-icon">
        <i class="material-icons">
          trending_up
        </i>
      </span>
      <span class="nav-text">Charts</span>
    </a>
  </li>
  <li>
    <a href="artist.html">
      <span class="nav-icon">
        <i class="material-icons">
          portrait
        </i>
      </span>
      <span class="nav-text">Artist</span>
    </a>
  </li>
  <li>
    <a data-toggle="modal" data-target="#search-modal">
      <span class="nav-icon">
        <i class="material-icons">
          search
        </i>
      </span>
      <span class="nav-text">Search</span>
    </a>
  </li>
  

  <li class="nav-header hidden-folded m-t">
    <span class="text-xs text-muted">Your collection</span>
  </li>
  <li>
    <a href="profile.html#tracks">
      <span class="nav-label">
        <b class="label">8</b>
      </span>
      <span class="nav-icon">
        <i class="material-icons">
          list
        </i>
      </span>
      <span class="nav-text">Tracks</span>
    </a>
  </li>
  <li>
    <a href="profile.html#playlists">
      <span class="nav-icon">
        <i class="material-icons">
          queue_music
        </i>
      </span>
      <span class="nav-text">Playlists</span>
    </a>
  </li>
  <li>
    <a href="profile.html#likes">
      <span class="nav-icon">
        <i class="material-icons">
          favorite_border
        </i>
      </span>
      <span class="nav-text">Likes</span>
    </a>
  </li>
</ul>
